@import "tailwindcss";
@import "@mantine/core/styles.css";
@import '@mantine/dates/styles.css';
@layer mantine, mantine-contextmenu;

/* @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

.select:open::picker(select) {
  display: flex;
}
@plugin "./plugin"; */

:root {
  --container-size-xxl: calc(96rem * var(--mantine-scale));
  --mantine-line-height-xxl: 1.7;
  --mantine-radius-xxl: calc(5rem * var(--mantine-scale));
}

body {
  @apply flex flex-col min-h-screen items-stretch;
}
header {
  @apply h-[40px] bg-(--mantine-color-header);
}